@model IEnumerable<Subject>
<table class="table table-bordered table-striped table-success" id="subjectTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="subject_tr_@item.SubjectId">
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalHour)
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm rounded-circle edit" data-db-type="subject" data-db-action="edit" data-subject-id="@item.SubjectId" data-controller-action="EditSubject"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger btn-sm rounded-circle del" data-db-type="subject" data-db-action="delete" data-subject-id="@item.SubjectId" data-controller-action="DeleteSubject"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
